*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ccc;
  min-height: 100dvh;
  max-width: 100dvw;
  transition-property: background-color, color;
  transition-duration: .6s;
}

#container {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: fit-content;
  padding: 10px 0;
}

#title {
  flex: 1;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

#toggleThemeContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.toggleTheme {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation-name: rotateSunMoon;
  animation-duration: 1s;
}

#sun {
  display: block;
}

#moon {
  display: none;
}

.video {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.playing {
  display: block;
}

#characters {
  display: grid;
  gap: 20px;
  margin: 0 20px;
  grid-template-columns: 5, repeat(fit-content, 1fr)
}

.card {
  box-sizing: border-box;
  width: 300px;
  padding: 40px 0;
  height: fit-content;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  background-color: #ccc;
  box-shadow: 5px 5px 10px 2px black;
}

.card-image {
  height: 300px;
}

.card-race {
  text-decoration: none;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid black;
}

.saiyan {
  background-color: yellow;
}

.human {
  background-color: burlywood;
}

.frieza {
  background-color: #e95d3c;
}

p {
  color: black;
}

footer {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#nombre {
  font-size: 1.2em;
}



.dark {
  background-color: #3f3f3f;
  color: #ccc;

  & p {
    color: #ccc;
  }

  & #cabecera {
    background-color: #5f5f5f;
  }

  & #title {
    color: #ccc;
  }

  & #sun {
    display: none;
  }

  & #moon {
    display: block;
  }

  & #piePagina {
    background-color: #5f5f5f;
  }
}

@keyframes rotateSunMoon {
  to {
    rotate: -360deg;
  }
}