* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

li {
  width: 5rem;
  list-style: none;
  border: 1px solid gray;
  background-color: rgba(123, 198, 199, 0.8);
}

a {
  text-decoration: none;
}