* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

main {
  width: 80dvw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

header ul {
  display: flex;
  width: 50%;
  gap: 20px;
  list-style: none;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  font-size: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

header ul li a {
  text-decoration: none;
  color: gray;
}

header ul li a:hover {
  color: red;
}

section