html {
  background-color: white;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 1280px;
  display: flex;
}

section {
  text-justify: justify;
}

section h2 {
  font-size: 24px;
  color:  #B7271F;
}

section a {
  color: #B7271F;
}

section a:hover {
  color: #666;
  font-weight: bold;
  text-decoration: underline;
}

aside {
  background-color: #FFDDDD;
  border: 1px solid #990000;
}

aside h2 {
  font-size: 14px;
}

aside li {
  border-bottom: 1px solid #ddd;
  list-style: none;
  color: #666;
}

aside a:hover {
  color: #C00;
  border: 0;
  font-weight: bolder;
}

#title a {
  color: #B7211F;
  text-align: center;
}

#title a:hover {
  text-decoration: none;
  color: black;
}

header nav {
  background-color: #C00;
}

header nav a {
  color: #FFF;
}

header nav a:hover {
  background-color: white;
  text-decoration: underline;
  color: #333;
}