#cuerpoPagina {
  gap: 30px;
}

#cuerpoPagina a {
  flex: 1;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 10px 30px;
}

#login a {
  background-color: #09f;
}

#register a {
  background-color: ;
}