* {
  box-sizing: border-box;
}

#cuerpoPagina {
  gap: 50px;
}

#cuerpoPagina a {
  flex: 1;
  color: black;
  background-color: #EBEBEB;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 10px 30px;
  width: 20rem;
  transition: .5s ease-in;
}

#cuerpoPagina a:hover {
  background-color: #09f;
  color: white;
  box-sizing: border-box;
}