#cabecera {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #4f4f4f;
  padding: 20px;
}

#titleSect {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

#cabecera figure img {
  border-radius: 100%;
}

#cuerpoPagina {
  height: 100%;
  width: 100%;
}

#addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  color: black;
  background-color: white;
  padding: 5px;
}

table {
  margin: 100px auto;
  width: 70%;
}

table,
tbody,
th,
thead,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: #fff9;
}

.centrado {
  text-align: center;
}