html {
  font-family: Arial, sans-serif;
  background-color: #F3F2ED;
  display: grid;
  justify-content: center;
}

body {
  width: 1280px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/fondo.jpg);
}

nav {
  position: relative;
  height: 50px;
  bottom: 10px;
  width: 100%;
  justify-content: center;
  background-color: #ab2a3e;
}

#menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 200px;
}

header a {
  text-decoration: none;
}

header a:link {
  color: white;
}

header a:visited {
  color: white;
}

#extra a:hover {
  background-color: #ab2a3e;
}

main {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 50px 25px;
}

#imagenes {
  display: grid;
}

#imagenes img {
  width: 85px;
}

#zozor {
  float: right;
}

article p {
  text-justify: justify;
}

#extra {
  background-color: #f5f5dc;
  width: 35%;
  padding: 50px;
  display: grid;
}

figure {
  display: grid;
}

.extraImg {
  width: 200px;
  float: right;
}

#contenido {  
  width: 50%;
}

#primero {
  color: red;
  text-decoration: underline overline;
}

#final {
  background-color: #ab2a3e;
  width: 100%;
  color: white;
}

footer {
  height: 50px;
  color: white;
  background-color: #ab2a3e;
  text-align: center;
}

