* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bodybkg.gif);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem auto;
  width: 60dvw;
  min-height: 100dvh;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header h1 {
  color: goldenrod;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}

header ul {
  background-color: rgb(69, 31, 3);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  align-items: center;
  list-style: none;
  gap: 5rem;
  min-height: 2.5rem;
}

header ul li {
  flex: 1;
}

article {
  position: relative;
  width: 100%;
  min-height: 15rem;
  border-radius: 10px;
  background-size: 100% 100%;
}

header article figure img {
  width: 100%;
}

header article h2 {
  position: absolute;
  top: 5%;
  left: 2%;
  color: white;
  max-width: 100%;
}

header article p {
  position: absolute;
  top: 25%;
  left: 2%;
  text-wrap: pretty;
  max-width: 20rem;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: goldenrod;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

section article {
  flex: 0 1 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 10px;
  background-color: #d6a965;
}

section article a {
  color: white;
  text-align: start;
}

section img {
  border: 5px solid white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px 10px 30px;
  border-radius: 10px;
  background-color: rgb(69, 31, 3);
  color: white;
}

footer article {
  flex: 1 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-wrap: pretty;
}

footer a {
  color: gray;
}