* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bodybkg.gif);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem auto;
  width: 60dvw;
  min-height: 100dvh;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header h1 {
  color: goldenrod;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}

header ul {
  background-color: rgb(69, 31, 3);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  align-items: center;
  list-style: none;
  gap: 5rem;
  min-height: 2.5rem;
}

header ul li {
  flex: 1;
}

#texto {
  width: 100%;
  min-height: 15rem;
  border-radius: 10px;
  background-image: url(./images/introimage.png);
  background-size: 100% 100%;
  object-fit: cover;
}

#texto h2 {
  color: white;
  margin: 2.5rem 0 0 2.5rem;
}

#texto p {
  margin: 2.5rem 1rem 1rem 2.5rem;
  text-wrap: pretty;
  max-width: 20rem;
}

header article img {
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: goldenrod;
}

section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

section article {
  flex: 1 300px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  background-color: #d6a965;
}

footer {
  display: flex;
  gap: 1.5rem;
  padding: 20px 10px 30px;
  border-radius: 10px;
  background-color: rgb(69, 31, 3);
  color: white;
}

footer article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-wrap: pretty;
}

footer a {
  color: gray;
}