*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ccc;
  min-height: 100dvh;
  width: 100dvw;
  transition-property: background-color, color;
}

#container {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: fit-content;
  padding: 10px 0;
}

#title {
  flex: 1;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

#toggleThemeContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.toggleTheme {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation-name: rotateSunMoon;
  animation-duration: 1s;
}

#sun {
  display: block;
}

#moon {
  display: none;
}

.video {
  width: 100dvw;
  height: 100dvh;
  aspect-ratio: 16/9;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.playing {
  display: block;
}

p {
  color: black;
}

#mainContainer {
  display: grid;
  grid-template-columns: (auto-fit, minmax(200px, 1fr));
}

footer {
  height: fit-content;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#nombre {
  font-size: 1.2em;
}



.dark {
  background-color: #3f3f3f;
  transition-duration: .6s;

  & p {
    color: #ccc;
  }

  & #cabecera {
    background-color: #5f5f5f;
  }

  & #title {
    color: #ccc;
  }

  & #sun {
    display: none;
  }

  & #moon {
    display: block;
  }

  & #piePagina {
    background-color: #5f5f5f;
  }
}

@keyframes rotateSunMoon {
  to {
    rotate: -360deg;
  }
}